[Unit]
Description=Periodically check if we should shutdown this server

[Timer]
OnCalendar=*-*-* 00,04,22:00:00
OnCalendar=Mon..Fri *-*-* 12:00:00

[Install]
WantedBy=default.target
