[Unit]
Description=Shutdown this server if inactive

[Service]
ExecStart=sudo shutdown +60 "Shutdown initiated by idle_shutdown.service; shutdown -c to stop"
