[Unit]
Description=Shutdown this server if no one is logged in

[Service]
ExecStart=/home/njormrod/dev/devenv/envs/aws_linux/systemd/maybe_shutdown.py
