- name: Install packages
  hosts: all
  become: yes

  tasks:
  - name: Set timezone
    timezone:
      name: "America/Los_Angeles"

  - name: Install packages
    dnf:
      name:
        - ansible
        - atop
        - clang
        - clang-tools-extra
        - git
        # - grpcio
        # - grpcio-tools
        - htop
        - httpd
        - jq
        - nodejs
        - npm
        - pip
        - tmux
        - zsh
      state: present

  # Don't install pips; they should be in venvs.
  # I'm looking at you jupyter, and awscli, and pyopensky...
  # ...except I don't like venvs
  - name: Install pips
    pip:
      name:
        - black
        - ipdb
        - openai
        - lupa # lua from python
        - Flask
        - meson
        - pytest
        - coverage
      state: present

  - name: systemd enable
    ansible.builtin.systemd_service:
      name: atop
      enabled: true

  - name: systemd start
    ansible.builtin.systemd_service:
      name: atop
      state: started


- name: Configure user
  hosts: all
  vars:
    username: "njormrod"
    devenv: "cloud_linux"
  become: yes
  become_user: "{{ username }}"

  tasks:
  - name: Create directories
    file:
      path: "~/{{ item }}"
      state: directory
      recurse: yes
    with_items:
      - dev
      - jupyter
      - repos
      - .aws
      - .config/pyopensky
      - .config/systemd

  - name: Clone github repos
    # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/git_module.html
    ansible.builtin.git:
      repo: "git@github.com:{{ item.maker }}/{{ item.name }}.git"
      dest: "~/{{ item.root }}/{{ item.name }}"
      force: false
      update: false
      accept_hostkey: yes
      key_file: "~/.ssh/id_ed25519"
    with_items:
      - { root: "dev", maker: "Gownta", name: "devenv" }
      - { root: "dev", maker: "Gownta", name: "starlang" }
      - { root: "dev", maker: "Gownta", name: "factorio" }
      - { root: "dev", maker: "Gownta", name: "values" }
      - { root: "dev", maker: "Gownta", name: "hanabi" }
      - { root: "dev", maker: "Gownta", name: "farmwars" }
      - { root: "dev", maker: "Gownta", name: "opensky" }
      - { root: "dev", maker: "Gownta", name: "libai" }
      - { root: "dev", maker: "Gownta", name: "tmux-power" }
      - { root: "dev", maker: "Gownta", name: "lexemes" }
      - { root: "dev", maker: "Gownta", name: "factorio" }
      - { root: "dev", maker: "Gownta", name: "quacks_of_quedlinburg" }
      - { root: "dev", maker: "Gownta", name: "ai_gullibility_test" }
      - { root: "dev", maker: "Gownta", name: "planet_miner" }
      - { root: "dev", maker: "Gownta", name: "cain" }
      - { root: "dev", maker: "Gownta", name: "idle_civ" }
      - { root: "dev", maker: "Gownta", name: "template" }
      - { root: "dev", maker: "Gownta", name: "flip7" }
      - { root: ".vim/bundle", maker: "VundleVim", name: "Vundle.vim" }
      - { root: "repos", maker: "sharkdp", name: "bat" }
      - { root: "repos", maker: "eza-community", name: "eza" }
      - { root: "repos", maker: "romkatv", name: "powerlevel10k" }
      - { root: "repos", maker: "wube", name: "factorio-data" }
      - { root: "repos", maker: "atanunq", name: "viu" }

  - name: Check if the files are actually original
    stat:
      path: "~/dev/devenv/originals"
    register: originals_check

  - block:
    - name: Create dotfile save dir
      file:
        path: "~/dev/devenv/originals"
        state: directory

    - name: Save dotfiles
      ignore_errors: yes
      copy:
        src: "~/{{ item }}"
        remote_src: true
        dest: "~/dev/devenv/originals/{{ item | regex_replace('^\\.', '') }}"
        force: false
      with_items: "{{ existing_dotfiles }}"

    - name: Delete dotfiles
      file:
        path: "~/{{ item }}"
        state: absent
      with_items: "{{ existing_dotfiles }}"

    vars:
      existing_dotfiles:
        - .bashrc
        - .bash_logout
        - .bash_profile
        - .zshrc
        - .zprofile
    when: not originals_check.stat.exists

  - name: Symlink dotfiles
    file:
      path: "~/{{ item.path }}"
      state: link
      src: "~/dev/devenv/{{ item.src }}"
    with_items:
      - { path: ".gitconfig", src: "configs/gitconfig" }
      - { path: ".tm_properties", src: "configs/textmate_properties" }
      - { path: ".tmux.conf", src: "configs/tmux.conf" }
      - { path: ".vimrc", src: "configs/vimrc" }
      - { path: ".zshenv", src: "configs/shell/env" }
      - { path: ".zshrc", src: "configs/shell/zshrc" }
      - { path: ".config/systemd/user", src: "systemd" }
      - { path: ".env_profile", src: "envs/{{ devenv }}/env_profile" }
      - { path: ".aws/config", src: "configs/aws_config" }

  - name: Create template dotfiles
    copy:
      dest: "~/{{ item.path }}"
      content: "{{ item.content }}"
      force: false
    with_items:
      - { path: ".secrets", content: "# Add lines to this file like export SECRET=ABC\n" }
      - { path: ".tmux.panes", content: "# ~\n# ~\n# ~\n# ~\n# ~\n" }

  - name: Create initial dotfiles
    copy:
      src: "~/dev/devenv/{{ item.src }}"
      remote_src: true
      dest: "~/{{ item.dest }}"
      force: false
    with_items:
      - { src: "configs/shell/envrc", dest: ".envrc" }

  - name: Check if cargo is installed
    shell: command -v cargo
    register: cargo_exists
    ignore_errors: yes

  - name: Download rust installer
    when: cargo_exists is failed
    get_url:
      url: https://sh.rustup.rs
      dest: /tmp/sh.rustup.rs
      mode: '0755'
      force: 'yes'
    tags:
      - rust

  - name: Install rust/cargo
    when: cargo_exists is failed
    shell: /tmp/sh.rustup.rs --no-modify-path -y
    tags:
      - rust

  - name: Check if bat is installed
    shell: command -v bat
    register: bat_exists
    ignore_errors: yes

  - name: Install bat
    when: bat_exists is failed
    shell: cargo install --locked bat
    args:
      chdir: ~/repos/bat

  - name: Check if eza is installed
    shell: command -v eza
    register: eza_exists
    ignore_errors: yes

  - name: Install eza
    when: eza_exists is failed
    shell: cargo install --locked eza
    args:
      chdir: ~/repos/eza

  - name: Setup vim vundle
    command: "vim +PluginInstall +qall"
